<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    <title> <%= @title %> </title>
  </head>
  <body>
    <%= erb(:'partials/navigation', :layout => false) %>
    <br />

    <% flash.keys.each do |type| %>
      <div data-alert id="alert-message" class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
